<div class = "container">
    <div class = "row">
        <h2 class = "col-md-12">管理者ログイン</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class = "container">
    <div class = "row">
      <h4 class = "col-md-12 mt-5  text-center">メールアドレス</h4>
      <div class = "col-md-12 mt-5 text-center"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      <h4 class = "col-md-12 mt-5  text-center">パスワード</h4>
      <div class = "col-md-12 mt-5 text-center"><%= f.password_field :password, autocomplete: "current-password" %></div>
      <div class = "col-md-12 text-center">
        <div class = "mt-5">
          <%= f.submit "ログイン" %>
          <% end %>
        </div>
    </div>
  </div>