<h1>注文詳細画面</h1>

<tbody>
   <tr>
       <div>
           <td>
              <%= "" %>
              <%= @order. %>
           </td>
       </div>
           <td>
              <%= link_to "",  %>
           </td>
       </div>
   </tr>
</tbody>